/* General Styles */
.react-flow .react-flow__handle {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: #dad9dc;
  display: flex;
  justify-content: center;
}

.react-flow .react-flow__node {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  font-weight: 700;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

/* Panel Styles */
.react-flow Panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

/* Button Styles */
.button {
  background: rgba(242, 100, 48, 1);
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  margin: 5px;
  width: 45%;
}

.vis-button {
  background-color: #f9c74f; /* Light orange */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.vis-button:hover {
  background-color: #f8b026;
}

.run-button {
  background-color: #90e0ef; /* Light blue */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.run-button:hover {
  background-color: #00b4d8;
}

.add-button {
  background-color: #f3722c; /* Strong orange */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-button:hover {
  background-color: #f94144;
}

/* Layout Styles */
.node-container {
  width: 100%;
  height: 100%;
}

.top-left-panel {
  height: 35%;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Context Menu Styles */
.context-menu {
  position: absolute;
  z-index: 1000;
  padding: 10px;
}

.context-menu-button {
  display: block;
  width: 100%;
  margin-block: 5px;
}
