@import "../../styles/Variables.scss";

/* Layout Styles */
.node-container {
  background-color: white;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-columns: 4fr;
  grid-template-rows: 1fr auto;
}

.node-container.sidebar-hidden {
  grid-template-columns: 1fr;
  /* Ajuste o grid para uma única coluna quando o sidebar estiver oculto */
}

.reactflow-component {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* Necessário para o posicionamento absoluto funcionar */

  .sidebar-component {
    max-height: 100%;
    width: 400px;
    position: absolute;
    top: 0px;
    /* 15px da borda superior */
    right: 0px;
    /* 15px da borda direita */
    background: linear-gradient(45deg, $ColorBgSecondary, $ColorBgPrimary, $ColorBgSecondary);
    color: white;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    margin: 15px;

  }
}

.graph-component {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  /* Make sure the graph component takes full height */
  width: 100%;
  max-height: 500px;
  overflow-y: hidden;
  grid-column: 1/3;
}


/* General Styles */
.react-flow {
  .react-flow__handle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #dad9dc;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .react-flow__node {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 6px;
    font-weight: 600;
    box-shadow: none;
    /* Removendo a sombra para melhorar o desempenho */
    transition: none;
    /* Desabilitando transições para evitar atrasos durante o arraste */
    background-color: white;
    border: 1px solid #ccc;
    /* Um simples contorno cinza */

    &:hover {
      transform: none;
      /* Remover a transformação de escala */
      background-color: #f0f0f0;
      /* Mudar apenas a cor de fundo no hover */
    }
  }

  .react-flow__edge path,
  .react-flow__connectionline path {
    stroke-width: 2;
    stroke-linecap: round;
  }

  Panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-radius: 12px;
    padding: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* Button Styles */
.button,
.vis-button,
.run-button,
.func-button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
}

.button {
  background: rgba(242, 100, 48, 1);
  color: white;

  &:hover {
    background: rgba(242, 80, 28, 1);
    transform: scale(1.05);
  }
}

.vis-button {
  background-color: #f9c74f;
  /* Light orange */

  &:hover {
    background-color: #f8b026;
    transform: scale(1.05);
  }
}

.run-button {
  background-color: #90e0ef;
  /* Light blue */

  &:hover {
    background-color: #00b4d8;
    transform: scale(1.05);
  }
}

.func-button {
  background-color: #f3722c;
  /* Strong orange */

  &:hover {
    background-color: #f94144;
    transform: scale(1.05);
  }
}

.upload-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.functions-component {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  button {
    margin-bottom: 10px;
  }
}

.top-left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.context-menu {
  position: absolute;
  z-index: 1000;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .context-menu-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}