@import "../../styles/Variables.scss";

.panel-buttons-container {
  width: 175px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: $ColorBgPrimary;
  border-radius: 8px;
  font-weight: bold; // Negrito para todo o texto dentro do container

  .p-button {
    padding: 5px;
    margin-bottom: 8px;
    font-size: 0.85rem;
    font-weight: bold; // Negrito para os botões
    border-radius: 4px;
    color:  $ColorBlack;

    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($ColorSecondary, 0.5);
    }

    &.p-button-primary {
      background-color: $ColorPrimary;
      border-color: $ColorPrimary;

      &:hover {
        background-color: $ColorAccent;
        border-color: $ColorPrimary;
      }
    }

    &.p-button-secondary {
      background-color: $ColorSecondary;
      border-color: $ColorSecondary;

      &:hover {
        background-color: $ColorSecondary;
        border-color: $ColorSecondary;
      }
    }

    &.p-button-info {
      background-color: $ColorBgSecondary;
      border-color: $ColorBgSecondary;

      &:hover {
        background-color: $ColorBgSecondary;
        border-color: $ColorBgSecondary;
      }
    }

    &.p-button-success {
      background-color: $ColorPrimary;
      border-color: $ColorPrimary;

      &:hover {
        background-color: $ColorAccent;
        border-color: $ColorAccent;
      }
    }
    &:hover{
      color:  $ColorWhite;
    }
  }
}
