@import "../../styles/Variables.scss";

.sidebar-title {
  background: $ColorPrimary;
  padding: $SpacingSmall;
  cursor: pointer;
  flex-shrink: 0;
  text-align: center;
  font-weight: bold;

  &:hover {
    color: $ColorWhite;
    background: $ColorAccent;
  }
}

.sidebar-content {
  background: $ColorWhite;
  width: 100%;
  text-align: center;
  font-weight: bold;

  &.visible {
    height: auto;
    max-height: none;
    overflow-y: visible;
  }
}

.tag-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // Define 5 colunas fixas
  gap: $SpacingSmall;
  padding: 8px;

  .tag-item {
    text-align: center;
    padding: 8px 12px;
    background-color: $ColorSecondary;
    color: $ColorWhite;
    border-radius: 20px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;

    &:hover {
      background-color: lighten($ColorPrimary, 10%);
    }
  }
}

.correction-values-content {
  padding: 10px;
  width: 100%;

  table.correction-values-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;

    th,
    td {
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }

    th {
      background-color: $ColorSecondary;
      color: $ColorWhite;
    }

    tr:nth-child(even) td {
      background-color: lighten($ColorBgSecondary, 20%);
    }

    tr:hover td {
      background-color: lighten($ColorPrimary, 30%);
    }

    td {
      background-color: $ColorWhite;
      border-bottom: 1px solid lighten($ColorBgSecondary, 40%);
    }
  }
}

.matrix-container {
  padding: $SpacingSmall;
  font-weight: bold;

  table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      padding: 5px;
      text-align: center;
      background-color: $ColorWhite;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: lighten($ColorBgSecondary, 20%);
    }

    tr:hover {
      background-color: lighten($ColorBgSecondary, 10%);
    }

    th {
      text-align: center;
      background-color: $ColorPrimary;
      color: $ColorWhite;
      border-radius: 8px;
      font-weight: bold;
    }
  }
}
