// Cores
$ColorAccent: #ff4400;
$ColorPrimary: #e56334;
$ColorSecondary: #46c3cc;

$ColorBgPrimary: #f0cec2;
$ColorBgSecondary: #e3fdff;

$ColorWhite: #ffffff;
$ColorBlack: #1a1a1a;

// Espaçamentos
$SpacingSmall: 0.5rem;
$SpacingMedium: 1rem;
$SpacingLarge: 1.5rem;
$Radius: 0.25rem;

// Fontes
$FontPrimary: 'Arial', sans-serif;
$FontSecondary: 'Georgia', serif;

// Tamanhos de fonte
$FontSizeSmall: 0.875rem;
$FontSizeMedium: 1rem;
$FontSizeLarge: 1.25rem;


$IconSizeMedium: 1.5rem;
$IconSizeLarge: 2rem;
$IconSizeSmall: 1rem;