#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: center;
}

.button-and-title {
  display: flex;
  align-items: center;
  justify-content: space-between; /* changed from flex-start */
  padding-inline: 15px;

  * {
    font-size: 40px;
  }
}

.close-btn {
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: var(--colorBlack);
  background-color: var(--colorAccent);

  &:hover {
    color: var(--colorWhite);
    background-color: var(--colorAccent);
    transform: scale(1.1);
    cursor: pointer;
  }
}

.text-content {
  margin: 15px;
  text-align: justify;

  * {
    font-size: 20px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;

  .contact {
    position: relative;
    flex-grow: 1;
    padding-block: 15px;

    a {
      display: inline-block;
    }

    img {
      width: 40px;
      height: 40px;
      margin: auto;

      &:hover {
        transform: scale(1.5);
        cursor: pointer;
      }
    }
  }
}
