@import "../../styles/Variables.scss";

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: $Radius;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  padding: $SpacingMedium;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  padding: $SpacingMedium;
  border-radius: $Radius;

  .header-icon {
    font-size: $IconSizeMedium;
    margin-right: $SpacingMedium;
  }

  .dialog-title {
    font-size: $FontSizeLarge;
    font-weight: bold;
  }
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;

  &:hover {
    color: #007bff;
  }
}

.about-content {
  color: #333;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;

  p {
    margin-block: $SpacingMedium;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}