.graph-bar-title {
    background-color: #f5f5f5;
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .graph-bar-content {
    flex-grow: 1;
    padding: 15px;
    background-color: #ffffff;
  }
