@import "../../styles/Variables.scss";

.graph-bar-title {
  background-color: $ColorPrimary; // Substituído por $ColorBgPrimary
  padding: $SpacingSmall;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: $ColorAccent; // Substituído por $ColorBgPrimaryHover
    color: $ColorWhite
  }
}

.graph-bar-content canvas {
  background: linear-gradient(45deg, $ColorBgPrimary, $ColorBgSecondary, $ColorBgPrimary);
  /* Gradiente diagonal */
  width: 100% !important;
  /* Garantir que o canvas ocupe 100% da largura */
  height: auto !important;
  /* Ajustar a altura automaticamente */
  max-height: 175px;
  /* Limitar a altura máxima ao tamanho do container */
}