:root {
  /* Background Colors */
  --colorBg: rgba(244, 244, 244, 0.9);
  --colorHeader: #E5E5E5;
  --colorSubHeader: #A9AAAA;
  --colorSubContent: #D1D1D1;
  --colorGreyLine: rgba(255, 255, 255, 0.1);

  /* Text Colors */
  --colorWhite: rgba(255, 255, 255, 1);
  --colorBlack: rgba(0, 0, 0, 1);
  --colorPrimary: #3B5D8F;
  --colorSecondary: #ACBFE6;

  /* Accent Colors */
  --colorAccent: rgba(242, 100, 48, 1);
  --colorAccentTemp: #586071;
  --colorSec: rgba(0, 157, 255, 0.967);

  /* Default Styles */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body,
button,
textarea,
input,
select,
ul,
li,
p,
div,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  font: 400 14px 'Roboto', Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

a,
div {
  text-decoration: none;
  color: var(--colorBlack);
}

img {
  max-width: 100%;
  display: block;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  color: var(--colorBlack);
  transition: color 0.2s;

  &:hover {
    color: var(--colorBlack);
  }
}

// Melhorar
.app-container {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto 10fr ;
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: center;
}

.button-and-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;

  * {
    font-size: 40px;
  }
}

.close-btn {
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: var(--colorBlack);
  background-color: var(--colorAccent);

  &:hover {
    color: var(--colorWhite);
    background-color: var(--colorAccent);
    transform: scale(1.1);
  }
}

.text-content {
  margin: 15px;
  text-align: justify;

  * {
    font-size: 20px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;

  .contact {
    position: relative;
    flex-grow: 1;
    padding-block: 15px;

    a {
      display: inline-block;
    }

    img {
      width: 40px;
      height: 40px;
      margin: auto;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}
